@font-face {
    font-family: American Signer Personal Use;
    src: url(../fuentes/American\ Signer\ Personal\ Use.otf);
}
@font-face {
    font-family:AyusRegular ;
    src: url(../fuentes/AyusRegular.ttf);
}

@font-face {
    font-family: Rebeca ;
    src: url(../fuentes/Rebeca.woff);
}