@import url(../css/reset.css);
@import url(../css/fuentes.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../imagenes/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    opacity: .95;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

form {
    border-radius: 10px;
    height: 1250px;
    width: 900px;
    border: 1px solid #000;
    border-spacing: 0;
    margin-left: 250px;
    margin-top: 50px;
    border-collapse: separate;
    border-spacing: 5px;
    background: url("../imagenes/degradado.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    float: center;
    box-shadow: 0px 10px 12px black;
}

form #logotipo {
    width: 600px;
    margin: auto;
    display: inline;
    float: center;
    margin-left: 210px;
}

form #logotipo img {
    height: 252px;
    width: 600px;
    margin-top: 10px;
    margin-left: -60px;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tabla {
    margin-top: 10px;
    margin-left: 225px;
    box-shadow: 0px 10px 12px black;
    border-radius: 10px;
    background: url("../imagenes/ventas1.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    overflow: hidden;
    width: 490px;
    height: 400px;
}

#h3 {
    text-align: center;
    line-height: 11px;
    margin-left: 10%;
    margin-top: 20px;
    position: relative;
    align-items: center;
    font-weight: bold;
    font: bold 30px/1 arial;
    text-transform: uppercase;
    color: orange;
    text-shadow: 0 2px 0 black, 0 4px 0 black, 0 6px 0 black, 0 8px 0 black, 0 10px 0 black, 0 12px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#h2_1 {
    text-align: center;
    line-height: 11px;
    margin-left: 10%;
    position: relative;
    align-items: center;
    font-weight: bold;
    font: bold 30px/1 arial;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#h2_2 {
    text-align: center;
    line-height: 11px;
    margin-left: 10%;
    margin-top: 15px;
    position: relative;
    align-items: center;
    font-weight: bold;
    font: bold 30px/1 arial;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#de {
    color: white;
    font-size: 18px;
    width: 40px;
    margin-left: 100px;
    position: relative;
    top: 20px;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#inp {
    margin-top: -15px;
    margin-left: 250px;
    width: 520px;
    height: 50px;
    border-radius: 6px;
}

.uno {
    display: inline-block;
    color: transparent;
    width: 50px;
    height: 50px;
    background-image: url(../imagenes/buscar.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin-top: -15px;
    margin-left: 10px;
    letter-spacing: 0.05px;
}

.uno:hover {
    transform: translatey(5px);
    box-shadow: none;
}

#lab1 {
    color: white;
    width: 50px;
    margin-left: 25px;
    position: relative;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 7px 15px black, 3px 8px 5px black;
}

#nom1 {
    position: relative;
    border: 0px;
    background-color: black;
    color: white;
    width: 210px;
    border-radius: 8px;
    font: bold 18px/1 arial;
    margin-left: 210px;
    width: 255px;
    height: 35px;
    font-weight: bolder;
    text-align: center;
}

#lab2 {
    color: white;
    width: 50px;
    margin-left: 25px;
    position: relative;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 7px 15px black, 3px 8px 5px black;
}

#nom2 {
    position: relative;
    border: 0px;
    background-color: black;
    color: white;
    width: 210px;
    border-radius: 8px;
    font: bold 18px/1 arial;
    margin-left: 210px;
    width: 255px;
    height: 35px;
    font-weight: bolder;
    text-align: center;
}

#lab3 {
    color: white;
    width: 50px;
    margin-left: 25px;
    position: relative;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 7px 15px black, 3px 8px 5px black;
}

#nom3 {
    position: relative;
    border: 0px;
    background-color: black;
    color: white;
    width: 210px;
    border-radius: 8px;
    font: bold 18px/1 arial;
    margin-left: 210px;
    width: 255px;
    height: 35px;
    font-weight: bolder;
    text-align: center;
}

#lab4 {
    color: white;
    width: 50px;
    margin-left: 25px;
    position: relative;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 7px 15px black, 3px 8px 5px black;
}

#nom4 {
    position: relative;
    border: 0px;
    background-color: black;
    color: white;
    width: 210px;
    border-radius: 8px;
    font: bold 18px/1 arial;
    margin-left: 210px;
    width: 255px;
    height: 35px;
    font-weight: bolder;
    text-align: center;
}

#tabla2 {
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    overflow: hidden;
    height: 100px;
    width: 750px;
}

#uno1 {
    color: white;
    font-size: 18px;
    width: 40px;
    margin-left: 20px;
    position: relative;
    top: 20px;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#uno2 {
    color: white;
    font-size: 18px;
    width: 40px;
    margin-left: 20px;
    position: relative;
    top: 20px;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#uno3 {
    color: white;
    font-size: 18px;
    width: 40px;
    margin-left: 20px;
    position: relative;
    top: 20px;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#uno4 {
    color: white;
    font-size: 18px;
    width: 40px;
    margin-left: 20px;
    position: relative;
    top: 20px;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#dos1 {
    position: relative;
    border: 0px;
    background-color: black;
    color: white;
    width: 210px;
    border-radius: 8px;
    font: bold 18px/1 arial;
    margin-left: 20px;
    margin-top: 20px;
    width: 150px;
    height: 35px;
    font-weight: bolder;
    text-align: center;
}

#dos2 {
    position: relative;
    border: 0px;
    background-color: black;
    color: white;
    width: 210px;
    border-radius: 8px;
    font: bold 18px/1 arial;
    margin-left: 20px;
    margin-top: 20px;
    width: 150px;
    height: 35px;
    font-weight: bolder;
    text-align: center;
}

#dos3 {
    position: relative;
    border: 0px;
    background-color: black;
    color: white;
    width: 210px;
    border-radius: 8px;
    font: bold 18px/1 arial;
    margin-left: 20px;
    margin-top: 20px;
    width: 200px;
    height: 35px;
    font-weight: bolder;
    text-align: center;
}

#uno {
    display: inline-block;
    color: transparent;
    width: 30px;
    height: 30px;
    background-image: url(../imagenes/agregar.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin-top: 20px;
    margin-left: 40px;
    letter-spacing: 0.05px;
}

#uno:hover {
    transform: translatey(5px);
    box-shadow: none;
}

#tabla3 {
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
}

#tres1 {
    color: white;
    font-size: 18px;
    margin-left: 10px;
    position: relative;
    top: 10px;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#tres2 {
    color: white;
    font-size: 18px;
    margin-left: 10px;
    position: relative;
    top: 10px;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#tres3 {
    color: white;
    font-size: 18px;
    margin-left: 10px;
    position: relative;
    top: 10px;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#tres4 {
    color: white;
    font-size: 18px;
    margin-left: 10px;
    position: relative;
    top: 10px;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#tres5 {
    color: white;
    font-size: 18px;
    margin-left: 10px;
    position: relative;
    top: 10px;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#tres6 {
    color: white;
    font-size: 18px;
    margin-left: 10px;
    position: relative;
    top: 10px;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#cuatro1 {
    position: relative;
    border: 0px;
    color: white;
    width: 210px;
    border-radius: 8px;
    font: bold 18px/1 arial;
    margin-left: 10px;
    top: 20px;
    width: 150px;
    height: 35px;
    font-weight: bolder;
    text-align: center;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#cuatro2 {
    position: relative;
    border: 0px;
    color: white;
    width: 210px;
    border-radius: 8px;
    font: bold 18px/1 arial;
    margin-left: 10px;
    top: 20px;
    width: 150px;
    height: 35px;
    font-weight: bolder;
    text-align: center;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#cuatro3 {
    position: relative;
    border: 0px;
    color: white;
    width: 210px;
    border-radius: 8px;
    font: bold 18px/1 arial;
    margin-left: 10px;
    top: 20px;
    width: 150px;
    height: 35px;
    font-weight: bolder;
    text-align: center;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#cuatro4 {
    position: relative;
    border: 0px;
    color: white;
    width: 210px;
    border-radius: 8px;
    font: bold 18px/1 arial;
    margin-left: 10px;
    top: 20px;
    width: 150px;
    height: 35px;
    font-weight: bolder;
    text-align: center;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#cuatro5 {
    position: relative;
    border: 0px;
    color: white;
    width: 210px;
    border-radius: 8px;
    font: bold 18px/1 arial;
    margin-left: 10px;
    top: 20px;
    width: 150px;
    height: 35px;
    font-weight: bolder;
    text-align: center;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#uno_1 {
    display: inline-block;
    color: transparent;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin-top: 50px;
    margin-left: 20px;
    letter-spacing: 0.05px;
}

#uno_1:hover {
    transform: translatey(5px);
    box-shadow: none;
}

.tabla3 {
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
}

#a {
    color: white;
    font-size: 18px;
    position: relative;
    top: 10px;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#a_1 {
    color: white;
    font-size: 18px;
    margin-left: 10px;
    position: relative;
    top: 10px;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#b {
    color: white;
    font-size: 18px;
    position: relative;
    top: 20px;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#b_1 {
    color: white;
    font-size: 18px;
    margin-left: 10px;
    position: relative;
    top: 20px;
    font: bold 18px/1 arial;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 3px 8px 15px black, 3px 8px 5px black;
}

#q1 {
    display: inline-block;
    color: transparent;
    width: 30px;
    height: 30px;
    background: url(../imagenes/carrito1.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    letter-spacing: 0.05px;
    margin-left: 450px;
    margin-top: 50px;
}

#q1:hover {
    transform: translatey(5px);
    box-shadow: none;
}